.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 4;
  background: orange;
}
.item2{
  width: 300px;
}



/* Bar Charts */
.chart-container {
  display: flex;
}

canvas{
  height: 250px;
  width: 30% !important;
  display: inline-block !important;
}

.mychart{
  width: 70% !important;
}




/* Donut */
.container {
    display: inline-block;
    position: relative;
  }
/* .donutchart{
  width: 100%;
  height: 100%;
} */
.relative {
    position: absolute;
    left:32%;
    top:50%;
    transform: translate(-50%, -50%);
  }
  .relative > p{
    line-height: 0%;
    font-weight: bold;
    font-size: larger;
  }

  
  /* Table */
  .table {
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
  }
  @media screen and (max-width: 580px) {
    .table {
      display: block;
    }
  }
  
  .row {
    display: table-row;
    background: #41b9f9;
  }
  .row:nth-of-type(odd) {
    background: #0283fc;
  }
  @media screen and (max-width: 580px) {
    .row {
      padding: 14px 0 7px;
      display: block;
    }
    .row.header {
      padding: 0;
      height: 6px;
    }
    .row.header .cell {
      display: none;
    }
    .row .cell {
      margin-bottom: 10px;
    }
    .row .cell:before {
      margin-bottom: 3px;
      content: attr(data-title);
      min-width: 98px;
      font-size: 10px;
      line-height: 10px;
      font-weight: bold;
      text-transform: uppercase;
      color: #969696;
      display: block;
    }
  }
  
  .cell {
    padding: 6px 12px;
    display: table-cell;
  }
  @media screen and (max-width: 580px) {
    .cell {
      padding: 2px 16px;
      display: block;
    }
  }


  table {
    border-spacing: 1;
    border-collapse: collapse;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  table * {
    position: relative;
  }
  table td, table th {
    padding-left: 8px;
  }
  table tbody tr {
    height: 20px;
  }
  .last-row{
    border-bottom: 1px dotted #01f4ec;
  }

  table td, table th {
    text-align: left;
  }